<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type = "text/css" href="/webjars/bootstrap/5.3.5/css/bootstrap.min.css">
  <title>Products</title>
</head>
<body>
  <div class="p-2">
    <table class="table">
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quatity</th>
      </tr>
      </thead>
      <tbody>
         <tr th:each="p:${list_products}">
           <td th:text="${p.id}"></td>
           <td th:text="${p.name}"></td>
           <td th:text="${p.price}"></td>
           <td th:text="${p.quantity}"></td>
           <td>
             <a onclick="return confirm('Etes vous sure ?')" class="btn btn-danger" th:href="@{/deleteProduct(ID=${p.id})}">Delete</a>
           </td>
         </tr>
      </tbody>
    </table>
  </div>
</body>
</html>